<h3>create new Group Topic</h3>
<form [formGroup]="userSearchForm" (ngSubmit)="create()">
  <mat-form-field appearance="fill">
    <mat-label>group topic name</mat-label>
    <input matInput formControlName="name">

    <!-- <mat-error *ngIf="userSearchForm.controls['name'].hasError('name') && !userSearchForm.controls['name'].hasError('required')">
         Please enter a valid name address
         </mat-error> -->

    <mat-error *ngIf="userSearchForm.controls['name'].hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">create</button>
</form>
